body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.logo-box {
    display: flex;
    max-height: 56px;
}

.logo-box img {
    max-height: 100%;
    object-fit: contain;
}


.navigation {
    display: flex;
    padding: 0 20px;
}

.nav-link {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    opacity: 0.6;
}

.nav-link.active {
    color: deepskyblue;
    opacity: 1;
}

.nav-link:hover {
    opacity: 1;
}